<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area</key>
		<string>不限</string>
		<key>listarea</key>
		<array/>
	</dict>
	<dict>
		<key>area</key>
		<string>500以下</string>
		<key>listarea</key>
		<array/>
	</dict>
	<dict>
		<key>area</key>
		<string>500-800</string>
		<key>listarea</key>
		<array/>
	</dict>
	<dict>
		<key>area</key>
		<string>800-1000</string>
		<key>listarea</key>
		<array/>
	</dict>
	<dict>
		<key>area</key>
		<string>1000-1500</string>
		<key>listarea</key>
		<array/>
	</dict>
	<dict>
		<key>area</key>
		<string>1500-2000</string>
		<key>listarea</key>
		<array/>
	</dict>
	<dict>
		<key>area</key>
		<string>2000-3000</string>
		<key>listarea</key>
		<array/>
	</dict>
	<dict>
		<key>area</key>
		<string>3000-5000</string>
		<key>listarea</key>
		<array/>
	</dict>
	<dict>
		<key>area</key>
		<string>5000以上</string>
		<key>listarea</key>
		<array/>
	</dict>
</array>
</plist>
